# OSx
.DS_Store

# Dev/Build folders
dist/
.tmp/
docs/
node_modules/
- adding bower_components to the .gitignore as it was missed
.sass-cache/
npm-debug.log

# IDE/text editors
*.sublime-*
.project
.idea/
nbproject/
